include:
    # - docker-compose-redis.yml
    - docker-compose-db.yml

name: gauniv
services:
    gauniv.webserver:
        image: ${DOCKER_REGISTRY-}gaunivwebserver
        build:
            context: .
            dockerfile: Gauniv.WebServer/Dockerfile
        # volumes:
         #   - ./Gauniv.WebServer:/src/Gauniv.WebServer   # monte le code source
        # working_dir: /src/Gauniv.WebServer
        # command: bash -c "dotnet tool install --global dotnet-watch --version 10.0.0 --ignore-failed-sources || true; export PATH=/root/.dotnet/tools:$PATH; dotnet watch run --urls http://+:80"
        environment:
          - ASPNETCORE_ENVIRONMENT=Development
          - ASPNETCORE_HTTP_PORTS=80
          - ASPNETCORE_URLS=http://+:80
          - ConnectionStrings__DefaultConnection=Host=postgres_primary;Port=5432;Database=db;Username=admin;Password=password
        ports:
          - "80"
          - "443"
    nginx:
        image: nginx:latest
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
            - ./certificate:/certificate:ro
        depends_on:
            - gauniv.webserver
        ports:
            - "80:80"
            - "443:443"
            - "15000:15000"

